#id1,
#id2 {
    display: inline-block;
    margin: -2px;
    width: 50%;
    box-sizing: border-box;
    vertical-align: middle;

}

#id1 {
    height: 400px;
    background-color: aquamarine;
    font-size: 100px;
}

#id2 {
    text-align: left;
    padding: 30px;
}